{% extends "base.html" %}
{%- set header_lang_links = {} -%}
{%- if article.translation_group is defined -%}
{%- for t in article.translation_group -%}
{%- if header_lang_links.update({t.lang: SITEURL ~ '/' ~ t.url}) -%}{%- endif -%}
{%- endfor -%}
{%- endif -%}
{% block title %}{{ article.title }} — {{ SITENAME }}{% endblock %}
{% block content %}
    <article>
        <h1>{{ article.title }}</h1>
        <time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>
        {% if article.translation_group is defined and article.translation_group | selectattr('lang', '!=', article.lang) | list | length >= 1 %}
        <p class="available-in">Also in:
            {% for t in article.translation_group | selectattr('lang', '!=', article.lang) | list %}
            <a href="{{ SITEURL }}/{{ t.url }}">{{ t.lang | upper }}</a>{% if not loop.last %}, {% endif %}
            {% endfor %}
        </p>
        {% endif %}
        <div>{{ article.content }}</div>
        {% if article.tags %}
        <p class="article-tags">Tags:
            {% for tag in article.tags %}
            <a href="{{ SITEURL }}/{{ article.lang }}/tag/{{ tag.slug }}/">{{ tag.name }}</a>{% if not loop.last %}, {% endif %}
            {% endfor %}
        </p>
        {% endif %}
    </article>
{% endblock %}
