<!DOCTYPE html>
<html lang="{% if article %}{{ article.lang }}{% else %}{{ DEFAULT_LANG }}{% endif %}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex, nofollow">
    <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/styles.css">
</head>
<body>
    <header>
        <a href="{{ SITEURL }}/">{{ SITENAME }}</a>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
